/*
 * redirect.css
 *
 * Created on 20 April 2020
 *
 * CSS file for basic redirect operations
 *
 */


@media screen and (min-width: 481px) {
    body { font-family: Verdana; font-size: 2vw; text-align: center; }
    #cancel { font-size: 1vw; }
}

@media screen and (max-width: 480px) {
    body { font-family: Verdana; font-size: 3vw; text-align: center; }
    #cancel { font-size: 1.5vw; }
}

#msg        { padding-top: 15%; }
#urlArea    { padding-bottom: 1em; color: #0000EE; }

a:link      { text-decoration: none; color: #0000EE; }
a:visited   { text-decoration: none; color: #0000EE; }
a:hover     { text-decoration: underline; color: #0000EE; }
